.wrapper {
  width: 525px;
  margin: auto;
}

h1 {
  margin-bottom: 4px;
}

.tagline {
  display: inline-block;
  margin-bottom: 18px;
}

fieldset {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 12px;
}

.field-name {
  width: 130px;
  display: inline-block;
  vertical-align: top;
}

.require-label {
  font-style: normal;
  color: #be3125;
}

.contacts-info input,
.personal-info input,
.personal-info textarea,
.personal-info select {
  width: 220px;
  box-sizing: border-box;
}

.personal-info textarea {
  height: 92px;
  resize: vertical;
}

.animal-list li {
  width: 24%;
  display: inline-block;
}

button[type="submit"] {
  padding: 12px;
  cursor: pointer;
}