html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

fieldset,
body,
h1,
h2,
h3,
h4,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  min-width: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
select {
  outline: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

p {
  margin-bottom: 10px;
}

[class$="-container"] {
  max-width: 980px;
  margin: 0 auto;
}

body {
  font: 14px/1.2 Arial, Helverica, sans-serif;
  color: #5c646e;
  min-width: 320px;
}

.wrapper {
  background: #f3f3f3 url("../img/bg-wrapper.jpg") repeat;
  padding-top: 71px;
}

/* Header */
.header-top {
  background: #282e35 url("../img/bg-header-top.jpg") repeat;
  height: 72px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.header-top .header-container {
  overflow: hidden;
  padding: 19px 8px 15px;
}

.header-logo-block {
  float: left;
}

.header-logo {
  background: url("../img/bg-logo.png") no-repeat;
  width: 128px;
  height: 25px;
  display: block;
  text-indent: -9999px;
}

.header-logo a {
  display: block;
  height: 100%;
}

.tagline {
  color: #656f7a;
  font-size: 12px;
  font-weight: bold;
}

.search-block {
  float: right;
  width: 244px;
  height: 34px;
}

.search-block input[type="text"] {
  width: 198px;
  height: 100%;
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  color: #5b636e;
  background-color: #24272d;
  border: 1px solid #875f66;
  border-radius: 5px;
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, .25);
  float: left;
}

.header-info-block {
  background: #f3f3f3 url("../img/bg-header-bottom.jpg");
  background-size: cover;
  padding: 44px 35px 37px;
}

.main-title,
.description-heading {
  color: #a5adb8;
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  max-width: 50%;
}

.main-title::first-letter {
  color: #ae4b5d;
}

.main-title-tagline {
  display: block;
  font-size: 18px;
  color: #282d33;
}

.header-info-description {
  color: #d9dcdf;
  max-width: 54%;
}

.description-heading {
  margin-bottom: 8px;
}

/* Header Navigation */
.header-navigation {
  background-color: #95161f;
  overflow: hidden;
}

.header-navigation ul {
  float: right;
}

.header-navigation li {
  float: right;
}

.header-navigation a {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: 10px 22px 12px;
  background-color: #95161f;
  transition: all .3s;
}

.header-navigation a:hover,
.header-navigation a.active {
  background-color: #8e2d34;
}

/* Breadcrumbs */
.breadcrumbs {
  background-color: #f3f3f3;
  padding: 7px 24px;
}

.breadcrumbs ul {
  overflow: hidden;
}

.breadcrumbs li {
  font-size: 11px;
  color: #6b6f74;
  float: left;
}

.breadcrumbs a {
  color: #95161f;
  text-decoration: underline;
}

.breadcrumbs li::before {
  content: "/";
  margin: 0 5px;
  color: #6b6f74;
}

.breadcrumbs li:first-child::before {
  display: none;
}

/* Content */
.content-inner {
  background-color: #fff;
  padding: 19px 22px 40px;
  overflow: hidden;
}

/* Aside */
.aside {
  width: 23%;
  min-width: 165px;
  margin-right: 0;
  overflow: hidden;
}

.contact-form {
  width: 100%;
  background-color: #f3f3f3;
  border: 1px solid #dadde0;
  padding: 18px 13px 32px 11px;
  margin-bottom: 25px;
}

.contact-form .aside-heading,
.aside-info .aside-heading,
.heading-h3 {
  font-size: 18px;
  font-weight: bold;
  color: #282d33;
  margin-bottom: 15px;
}

.contact-form input,
.contact-form select {
  width: 100%;
  height: 33px;
  background-color: #e3e4e5;
  border: 1px solid #fffcfc;
  border-radius: 3px;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .1);
  margin-bottom: 14px;
  padding: 10px;
  color: #757575;
}

.wr-select {
  position: relative;
  margin-bottom: 14px;
}

.contact-form select {
  border-color: #a2a2a2;
  box-shadow: none;
  padding: 0 5px;
  margin-bottom: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact-form .btn {
  font-size: 16px;
  color: #f1f1f1;
  width: 177px;
  max-width: 100%;
  height: 46px;
  border: 5px solid #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .75);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2);
  background: #b0252e;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwMjUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NTE2MWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-linear-gradient(top, #b0252e 0%,#95161f 100%);
  background: linear-gradient(to bottom, #b0252e 0%,#95161f 100%);
  cursor: pointer;
  transition: all .3s;
}

.contact-form .btn:hover {
  opacity: .9;
}

select::-ms-expand {
  display: none;
}

.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 6px 5.5px 0 5.5px;
  border-color: #989da1 transparent transparent transparent;
}

.contact-form ::-webkit-input-placeholder {
  font-size: 14px;
  color: #757575;
}

.contact-form ::-moz-placeholder {
  font-size: 14px;
  color: #757575;
}

.contact-form :-ms-input-placeholder {
  font-size: 14px;
  color: #757575;
}

.contact-form :-moz-placeholder {
  font-size: 14px;
  color: #757575;
}

::-moz-placeholder {
  opacity: 1;
}

.aside-info {
  font-size: 12px;
}

.aside-info .more-description {
  color: #95161f;
  text-decoration: underline;
}

/* Main */
.main {
  float: right;
  width: 74%;
  margin-left: 3%;
  overflow: hidden;
}

.heading-h2 {
  font-size: 24px;
  color: #a5adb8;
  font-weight: bold;
  margin-bottom: 15px;
}

.heading-h2::first-letter {
  color: #ae4b5d;
}

.link {
  color: #95161f;
  text-decoration: underline;
}

.example-box .heading-h3 {
  margin-bottom: 10px;
}

.examples-block {
  overflow: hidden;
}

.examples-block .example-box {
  width: 27%;
  min-width: 170px;
  margin-right: 14px;
  margin-bottom: 20px;
  float: left;
}

.wr-img {
  border: 1px solid #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .3);
}

/* Lists */
.lists {
  overflow: hidden;
}

.list-heading {
  font-size: 14px;
  font-weight: normal;
}

.list-heading code {
  font-size: 12px;
  line-height: 2;
  background-color: #dedede;
  border-radius: 3px;
  padding: 0 2px;
}

.list {
  width: 33%;
  padding-right: 10px;
  margin-bottom: 20px;
  float: left;
}

.list ul {
  list-style: disc;
}

.list:nth-child(2) > ul {
  list-style: none;
}

.list li > ul {
  padding-left: 15px;
}

.list ul,
.list ol {
  list-style-position: inside;
}

/* Table */
.table {
  font-size: 12px;
  color: #a5adb8;
  border-collapse: collapse;
  background-color: #282d33;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.table th,
.table td {
  border: 1px solid #d8dbde;
  padding: 12px 12px 9px;
}

.table th {
  color: #fff;
  font-weight: bold;
  background-color: #9c4757;
}

.table a {
  color: #d08b98;
  text-decoration: underline;
}

.number {
  text-align: center;
  font-size: 14px;
}

/* Footer */
.footer {
  background: #282e35 url("../img/bg-footer.jpg") repeat;
  border-top: 8px solid #ae4b5d;
}

.footer-container {
  padding: 32px 0 27px;
  overflow: hidden;
}

.wiget-heading {
  font-size: 18px;
  font-weight: normal;
  color: #a5adb8;
  box-shadow: 0 1px 0 0 #191c20, 0 2px 0 0 #40474f;
  text-transform: capitalize;
  padding-bottom: 10px;
  margin-bottom: 12px;
}

.logo-word {
  text-transform: uppercase;
  display: inline-block;
}

.logo-word::first-letter {
  color: #ae4b5d;
}

.footer-wiget {
  font-size: 12px;
  color: #85898f;
  margin: 0 4% 20px 3%;
  width: 28%;
  float: left;
}

.footer-wiget li {
  margin-bottom: 11px;
}

.footer-wiget:first-child {
  margin-left: 1%;
}

.footer-wiget:nth-child(3n) {
  margin-right: 1%;
}

.working-hours li:not(:first-child) {
  padding-left: 25px;
  position: relative;
}

.working-hours li:not(:first-child)::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/bg-footer-wiget-item.png") no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
}

.locals li {
  position: relative;
  padding-left: 20px;
}

.locals li::before {
  content: "";
  background-color: #9c4757;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 3px;
  margin-top: -3px;
}

.company-phone {
  font-size: 14px;
  font-weight: bold;
  color: #a5adb8;
  transition: all .3s;
}

.company-email {
  color: #d08b98;
  transition: all .3s;
}

.company-phone:hover,
.company-email:hover {
  opacity: .8;
}

/* Touch menu */
.touch-menu {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 2px solid #ae4b5d;
  border-radius: 5px;
  position: fixed;
  top: 5px;
  right: 8px;
  display: none;
  z-index: 102;
}

.line {
  width: 80%;
  height: 4px;
  background-color: #a5adb8;
  display: block;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 5px;
}

.line:last-child {
  margin-bottom: 0;
}

.header-navigation.show-menu {
  top: 65px;
}

.search-block.show-search {
  top: 5px;
}

.show-search::before {
  content: "";
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* Media queries */
@media only screen and (max-width: 840px) {
  .header-top .header-container {
    padding-top: 5px;
    padding-right: 65px;
  }

  .touch-menu {
    display: block;
  }

  .search-block {
    position: fixed;
    top: -100%;
    left: 8px;
    transition: all .6s;
  }

  .header-navigation {
    position: fixed;
    top: -300px;
    left: 0;
    right: 0;
    transition: all .5s;
    z-index: 101;
  }

  .header-navigation ul {
    float: none;
    text-align: center;
  }

  .header-navigation li {
    float: none;
    border-bottom: 1px solid #fff;
  }

  .header-navigation a {
    display: block;
  }

  .main {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  .aside {
    float: none;
    width: 60%;
    margin: auto;
  }
}

@media only screen and (max-width: 650px) {
  .main-title,
  .header-info-description {
    max-width: 80%;
  }

  .examples-block .example-box {
    width: 30%;
  }

  .list {
    width: 50%;
  }

  .footer-wiget,
  .footer-wiget:first-child {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 560px) {
  .list,
  .footer .footer-wiget {
    width: 60%;
    float: none;
    margin: 0 auto 30px;
  }
}

@media only screen and (max-width: 450px) {
  .main-title, .header-info-description {
    max-width: 90%;
  }

  .examples-block .example-box {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .aside {
    width: 100%;
  }

  .table th,
  .table td {
    padding: 6px 3px;
  }

  .list,
  .footer .footer-wiget {
    width: 90%;
  }
}

@media only screen and (max-width: 350px) {
  .content-inner {
    padding-left: 8px;
    padding-right: 8px;
  }
}